aioboto3==11.2.0
aiobotocore==2.5.0
aiohttp==3.8.4
aioitertools==0.11.0
aiosignal==1.3.1
apturl==0.5.2
async-timeout==4.0.2
attrs==23.1.0
bcrypt==3.2.0
bidict==0.22.1
blinker==1.6.2
boto3==1.26.76
botocore==1.29.76
Brlapi==0.8.3
cattrs==23.1.2
certifi==2023.5.7
chardet==4.0.0
charset-normalizer==3.1.0
click==8.1.3
cmake==3.26.4
colorama==0.4.4
command-not-found==0.3
cryptography==3.4.8
cupshelpers==1.0
dbus-python==1.2.18
deeplake==3.6.7
defer==1.0.6
dill==0.3.6
distro==1.7.0
distro-info===1.1build1
docstring-to-markdown==0.12
duplicity==0.8.21
entrypoints==0.4
exceptiongroup==1.1.1
fairscale==0.4.13
fasteners==0.14.1
filelock==3.12.0
fire==0.5.0
Flask==2.3.2
Flask-SocketIO==5.3.4
frozenlist==1.3.3
fsspec==2023.5.0
future==0.18.2
gunicorn==20.1.0
httplib2==0.20.2
huggingface-hub==0.15.1
humbug==0.3.1
idna==3.3
importlib-metadata==4.6.4
itsdangerous==2.1.2
jedi==0.18.2
jedi-language-server==0.40.0
jeepney==0.7.1
Jinja2==3.1.2
jmespath==1.0.1
keyring==23.5.0
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lit==16.0.6
-e git+https://github.com/facebookresearch/llama@cfc3fc8c1968d390eb830e65c63865e980873a06#egg=llama
lockfile==0.12.2
louis==3.20.0
lsprotocol==2023.0.0a1
macaroonbakery==1.3.1
Mako==1.1.3
markdown-it-py==2.2.0
MarkupSafe==2.1.3
mdurl==0.1.2
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.14
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==3.1
nodeenv==1.8.0
numcodecs==0.11.0
numpy==1.25.1
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.0
olefile==0.46
opencv-python==4.7.0.72
packaging==23.1
paramiko==2.9.3
parso==0.8.3
pathos==0.3.0
pexpect==4.8.0
Pillow==9.0.1
pluggy==1.0.0
pox==0.3.2
ppft==1.7.6.6
protobuf==3.20.3
psutil==5.9.5
ptyprocess==0.7.0
pycairo==1.20.1
pycups==2.0.1
pydantic==1.10.8
pygls==1.0.2
Pygments==2.15.1
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==2.4.7
pyRFC3339==1.1
pyright==1.1.311
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.1
python-debian==0.1.43+ubuntu1.1
python-engineio==4.4.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.3
python-socketio==5.8.0
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
regex==2023.6.3
reportlab==3.6.8
requests==2.31.0
rich==13.4.1
s3transfer==0.6.1
safetensors==0.3.1
screen-resolution-extra==0.0.0
SecretStorage==3.3.1
sentencepiece==0.1.99
six==1.16.0
sympy==1.12
systemd-python==234
termcolor==2.3.0
tokenizers==0.13.3
torch==2.0.1
tqdm==4.65.0
triton==2.0.0
typeguard==3.0.2
typing_extensions==4.6.3
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
ujson==5.7.0
unattended-upgrades==0.1
urllib3==1.26.5
usb-creator==0.3.7
wadllib==1.3.6
Werkzeug==2.3.4
wrapt==1.15.0
xdg==5
xkit==0.0.0
yarl==1.9.2
zipp==1.0.0
